@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.appBarContainer{
  display: inline;
}

.appText {
    text-decoration: none;
    color:#faf0e6;
    font-family: 'Lato', sans-serif !important;
    margin-right: 1vw !important; 
    display: inline;
    cursor: pointer;
    color: #faf0e6 !important;
    font-size: 1.1vw !important;
}

.appText:hover{
  color: #576E9A !important;
}

.appLogo{
  color: #faf0e6 !important;
  font-size: 1.1vw !important;
}

a{
  text-decoration: none;
  color:#faf0e6;
  font-family: 'Lato', sans-serif;
}

.hurray{
  color: #576E9A !important;
}

.iconList{
  margin-right: 5%;
  font-size: 2vh;
}

.list:hover{
  color: #ef4a4e !important;
}

.MuiMenu-paper{
  background-color: #576E9A !important;
  color: #faf0e6 !important;
  margin-top: 1vh;
}
.MuiPopover-root{
  z-index:-10000;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .appText {
      font-size: 2.7vw !important;
      margin-right: 2vw !important; 
    }

    .appLogo {
      font-size: 2.7vw !important;
      margin-left: 2vw !important; 
    }
  }