@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.appBarContainer{
  display: inline;
}

.appText {
    text-decoration: none;
    color:#faf0e6;
    font-family: 'Lato', sans-serif;
    margin-right: 1vw !important; 
    display: inline;
    cursor: pointer;
}

.appLogo{
  font-family: 'Lato', sans-serif;
  color: #faf0e6;
  display: inline ;
  margin-left: 1vw !important; 
}

a{
  text-decoration: none;
  color:#faf0e6;
  font-family: 'Lato', sans-serif;
}

a:hover, .appText:hover{
  color: #f6abb6 !important;
}

.iconList{
  margin-right: 5%;
  font-size: 2vh;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .appText {
      font-size: 3vw !important;
      margin-right: 2vw !important; 
    }

    .appLogo {
      font-size: 4vw !important;
      margin-right: 2vw !important; 
    }
  }