@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.App{
  background-color: #080808;
  min-height: 100vh;
}

.container{
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
}

h1{
  color: #576E9A;
  padding: 0px;
  margin: 0px;
}

h4 {
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Bangers', cursive;
}

h6 {
  color: #fff;
  padding: 0px;
  margin: 0px;
}


