@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.App{
  background-color: #080808;
  min-height: 100vh;
}

.container{
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3vw;
}

h1{
  color: orangered;
  padding: 0px;
  margin: 0px;
  font-family: 'Permanent Marker', cursive;
}

h4 {
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Indie Flower', cursive;
}

h6 {
  color: #fff;
  padding: 0px;
  margin: 0px;
}


