@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy/Gilroy-Semibold.otf') format("opentype");
}

@font-face {
  font-family: 'Gilroy_Bold';
  src: url('./assets/Fonts/Gilroy/Gilroy-Bold.otf') format("opentype");
}

body {
  margin: 0;
  background-color: "#faf0e6"
}

