@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy/Gilroy-Semibold.otf') format("opentype");
}

@font-face {
  font-family: 'Gilroy_Bold';
  src: url('./assets/Fonts/Gilroy/Gilroy-Heavy.otf') format("opentype");
}

@font-face {
  font-family: 'Muli';
  src: url('./assets/Fonts/Muli.ttf');
}

a, a:active, a:focus{
  outline: none; /* Works in Firefox, Chrome, IE8 and above */ 
}

body {
  background: #000A25;
  height: 100%;
  padding: 0.1%;
  overflow-y:hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

.flip-countdown-title {
  color: #f5f5f5
}

