@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Fonts/Gilroy/Gilroy-Semibold.otf') format("opentype");
}

@font-face {
  font-family: 'Gilroy_Bold';
  src: url('./assets/Fonts/Gilroy/Gilroy-Heavy.otf') format("opentype");
}

@font-face {
  font-family: 'Muli';
  src: url('./assets/Fonts/Muli.ttf');
}

a, a:active, a:focus{
  outline: none; /* Works in Firefox, Chrome, IE8 and above */ 
}

body {
  background: url("./assets/img/homePage.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 1%;
  overflow-y:hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

